<MudThemeProvider Theme="@_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private readonly MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#0099FF",
            Secondary = "#0077CC", 
            Tertiary = "#33AAFF",
            Info = "#0088FF",
            Success = "#00FF00",
            Warning = "#FFFF00",
            Error = "#FF0000",
            Dark = "#000000",
            TextPrimary = "#0099FF",
            TextSecondary = "#0077CC",
            Background = "#000000",
            Surface = "#111111",
            AppbarBackground = "#000000",
            AppbarText = "#0099FF"
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#0099FF",
            Secondary = "#0077CC",
            Tertiary = "#33AAFF",
            Info = "#0088FF",
            Success = "#00FF00",
            Warning = "#FFFF00",
            Error = "#FF0000",
            Dark = "#000000",
            TextPrimary = "#0099FF",
            TextSecondary = "#0077CC",
            Background = "#000000",
            Surface = "#111111",
            AppbarBackground = "#000000",
            AppbarText = "#0099FF"
        }
    };
}
